@import url("//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/*
font-family: 'Ubuntu', sans-serif;
*/
body {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Ubuntu', sans-serif; }

.leo-megamenu .navbar-nav > li > a,
.products-section-title,
.product-tabs.tabs .nav-tabs .nav-link,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300; }

.leo-megamenu .dropdown-menu a > .menu-title,
.leo-megamenu .navbar-nav > li > a,
#product-availability,
.product-actions .control-label,
.bannercontainer .tp-caption.btn .caption-layer, .bannercontainer .tp-caption.btn .caption-contain,
.box-navads {
  font-weight: 300; }

.btn-outline, .btn, .btn-primary {
  font-size: 13px;
  font-weight: 300; }

.leo-megamenu .navbar-nav > li > a {
  font-size: 14px; }

.leo-megamenu .dropdown-menu div.menu-title {
  font-size: 13px;
  font-weight: 300; }

.leo-megamenu .dropdown-menu li a {
  font-weight: 300;
  font-size: 14px; }

.leo-megamenu .dropdown-menu a > .menu-title,
.popup-over .popup-content {
  font-size: 14px; }

.bannercontainer .tp-caption {
  font-weight: 300; }

.bannercontainer .tp-caption.medium_grey {
  font-size: 16px;
  line-height: 30px; }

.table th, table th,
.leo-compare-wishlist-button .btn-product span span,
.sidebar .block a.all-product-link, .af_filter label,
.pagination a, .af_subtitle_heading .af_subtitle,
.blog-item .title, .leo-block-sidebar .post-name a, .blog-menu ul > li > a,
.font-weight-bold, #order-items h3.card-title,
.cart-summary-line.cart-summary-subtotals .label, .cart-summary-line.cart-summary-subtotals .value,
body#checkout section.checkout-step .address-item .address-alias,
.product-line-grid-body > .product-line-info > .label,
.cart-summary-line .value, .cart-summary-line .label,
.dropdown-item, .product-line-grid-body > .product-line-info:first-child a.label,
.wishlist-table-head th,
.page-my-account .page-footer .text-sm-center a,
.review_details strong,
.product-features > dl.data-sheet dd.value, .product-features > dl.data-sheet dt.name,
.p-reference label, #product-details .label,
body #search_filters .facet .facet-title,
.sidebar .block .title_block.products-section-title,
.box-fashion .ApHtml b, .box-fashion .ApHtml strong,
.box-cateh2 .ApImage .image_description b, .box-cateh2 .ApImage .image_description strong,
.litetooltip-wrapper .template h3,
b, strong, .litetooltip-wrapper .template a,
#blockcart-modal .product-name,
#blockcart-modal .modal-title,
.leo-fly-cart-slidebar .leo-dropdown-total .value, .leo-fly-cart-slidebar .leo-cart-dropdown-action .value,
.box-footerlink2 #block-newsletter-label,
.box-shipping2 .ApRawHtml h4,
.thumbnail-container .product-title,
.box-tabproducts .nav-tabs li a,
.bannercontainer .tp-caption.big_black,
.bannercontainer .tp-caption.very_big_black {
  font-weight: 300; }

.leo-cart-item-info .product-name a,
.leo-dropdown-cart-subtotals .label, .leo-dropdown-cart-total .label,
.af .af_subtitle, .form-control,
.ac_results li, .leo-block-sidebar .post-name a,
.p-reference, #leo_search_block_top .form-control,
.products-sort-order .select-list,
label, .label, body #search_filters .facet .facet-title,
.sidebar .block .products .thumbnail-container .product-title,
.thumbnail-container .product-title,
.box-shipping .ApRawHtml h4,
.box-shipping .ApRawHtml,
.blog-container .blog-title {
  font-size: 14px; }

.selectedFilters .clearAll .txt,
.sidebar .block a.all-product-link,
.breadcrumb ol {
  font-size: 13px; }

/*# sourceMappingURL=skin.css.map */
