/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
a:hover, a:focus {
  color: #607d8b; }

.bannercontainer .tp-caption.btn .caption-layer:hover, .bannercontainer .tp-caption.btn .caption-contain:hover,
.bannercontainer .tp-caption.big_black,
.bannercontainer .tp-caption.very_big_black,
.box-shipping .ApRawHtml h4, .box-shipping2 .ApRawHtml i,
.box-coppy5 .block-social li:hover, .breadcrumb li:last-child a,
.box-footertop2 .ApLink li a:hover, .box-footer4 .block-social li:hover,
.done, .sidebar .block .title_block a, #search_filters > .h6, .block-category.card h1,
#content-hook_order_confirmation .card-title,
body#checkout section.checkout-step.js-current-step .step-title,
.products-section-title,
.product-detail-name, .sidebar .block .title_block,
.plist-dsimple .thumbnail-container .pro3-btn .btn-product.added, .plist-dsimple .thumbnail-container .pro3-btn .quick-view.added,
.box-link6 .ApBlockLink ul li a:hover,
.box-iconh6 .ApRawHtml h4,
.box-iconh6 .ApRawHtml [class^="ti-"],
.litetooltip-wrapper .template h3 a:hover, .litetooltip-wrapper .template h4 a:hover,
.box-newletter5 .block_newsletter .input-wrapper button:hover,
.box-coppy5 .ApBlockLink ul li a:hover,
.box-tabproductsh5 .ApTabs .nav-tabs .nav-item .nav-link.active,
div.box-bn5 .ApImage .image_description h3,
.box-header3 .blockcart:hover .header a,
.box-header3 .popup-over:hover a.popup-title,
.language-selector-wrapper .popup-content li.current:before, .currency-selector .popup-content li.current:before,
.plist-noe .thumbnail-container .product-image .leo-wishlist-button.added,
.box-blogh4 .blog-container .right-block .blog-title a:hover,
.box-coppy3 .block-social li:hover,
.box-tabproducts4 .nav-tabs .nav-item .nav-link.active,
.box-cateh2 .ApImage .image_description b, .box-cateh2 .ApImage .image_description strong,
.footer-container .ApColumn .title_block,
.page-home .ApColumn .title_block,
.plist-dsimple .thumbnail-container .pro3-btn .leo-wishlist-button i,
.plist-dsimple .thumbnail-container .pro3-btn .btn-product, .plist-dsimple .thumbnail-container .pro3-btn .quick-view,
.close:focus, .close:hover,
.quickview h1.h1,
.thumbnail-container .product-title a,
.box-fashion .ApHtml b, .box-fashion .ApHtml strong,
.footer-container .ApHtml .block_content > h4,
.box-shipping .ApRawHtml i,
.breadcrumb li a:hover,
.product-tabs.tabs .nav-tabs .nav-link.active,
.redhotspot span,
.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover,
.leo-megamenu .navbar-nav > li.active > a, .leo-megamenu .navbar-nav > li:hover > a, .leo-megamenu .navbar-nav > li:focus > a,
.box-tabproducts .nav-tabs li a.active, .box-tabproducts .nav-tabs li a:hover,
.leo-megamenu .dropdown-menu li a:hover,
.block-social li a:hover,
.thumbnail-container .product-title a:hover,
.popup-over .popup-content a:hover,
.group-input a.apconfig.active,
.block-categories .category-sub-menu li > a:hover,
.block-social li:hover,
.owl-theme .owl-buttons div:hover:before,
.box-fashion .ApHtml a:hover,
.blog-container .blog-title a:hover,
.blog-container .link-readmore:hover,
.popup-over .popup-content li.current a,
.blog-item .title a:hover,
.blog-item .more:hover,
div.star.star_on:before, div.star.star_hover:before {
  color: #607d8b; }

#leo_search_block_top .btn:hover,
.plist-dsimple .thumbnail-container .pro3-btn .btn-product:hover i, .plist-dsimple .thumbnail-container .pro3-btn .quick-view:hover i {
  color: #fff; }

.box-footer3 .block_newsletter .input-wrapper button:hover {
  color: #607d8b;
  background: none; }

#leo_search_block_top .btn {
  background: #607d8b;
  color: #fff; }

.box-header3 .blockcart .header .cart-products-count,
.block_newsletter .input-wrapper button,
body#checkout section.checkout-step .address-footer .text-muted.edit-address:hover,
.leo-megamenu .navbar-nav li a > .sub-title, .off-canvas-nav-megamenu .navbar-nav li a > .sub-title,
body#checkout section.checkout-step .address-footer .text-muted.delete-address,
.custom-radio input[type="radio"]:checked + span,
body#checkout section.checkout-step.-reachable.-complete .step-title:before,
body#checkout section.checkout-step.-reachable.-complete h1 .done,
body#checkout section.checkout-step.js-current-step .step-title .step-number,
.leo-cart-dropdown-action a.btn:hover, .leo-cart-dropdown-action a.btn:focus, .leo-cart-dropdown-action a.btn:active:focus,
.box-header3 .wislish-button .ap-btn-wishlist .ap-total,
.pro-stock span,
#blockcart-modal .cart-content a.btn:hover, #blockcart-modal .cart-content a.btn:focus, .product-add-to-cart .product-quantity .add-to-cart:hover,
.product-add-to-cart .product-quantity .add-to-cart:focus, .leo-cart-dropdown-action a.btn.cart-dropdow-checkout:hover,
.leo-cart-dropdown-action a.btn.cart-dropdow-checkout:focus, .continue.btn:hover, .continue.btn:focus, button.btn.btn-primary.center-block:hover,
button.btn.btn-primary.center-block:focus, .checkout.cart-detailed-actions.card-block .btn:hover, .checkout.cart-detailed-actions.card-block .btn:focus,
.product-tabs.tabs .nav-tabs .nav-item .nav-link.active:after,
.box-footerlink .block_newsletter .input-wrapper button,
#blockcart-modal .cart-content a.btn, .product-add-to-cart .product-quantity .add-to-cart, .leo-cart-dropdown-action a.btn.cart-dropdow-checkout,
.continue.btn, button.btn.btn-primary.center-block, .checkout.cart-detailed-actions.card-block .btn,
.redhotspot:hover:before,
.thumbnail-container .product-price-and-shipping .discount-percentage, .thumbnail-container .product-price-and-shipping .discount-product,
.bannercontainer .tp-caption.btn .caption-layer, .bannercontainer .tp-caption.btn .caption-contain,
.box-top .col-info .wislish-button .ap-btn-wishlist .ap-total,
.btn-outline, .btn, .btn-primary,
.bannercontainer .tp-caption.btn:hover,
.plist-dsimple .thumbnail-container .pro3-btn .btn-product:hover, .plist-dsimple .thumbnail-container .pro3-btn .quick-view:hover,
.block_newsletter .input-wrapper button:hover,
.leo-fly-cart-total,
.box-top .col-info .ap-btn-wishlist .ap-total,
.enable_fheader.btn_yes:after,
.box-top .col-info #_desktop_cart .header .cart-products-count,
.block-categories .category-sub-menu li:hover:after,
.has-discount .discount,
.product-add-to-cart .product-quantity .add-to-cart:hover,
#back-top,
.iview-directionNav a:hover,
.iview-controlNav div.iview-items ul li a.iview-control.active, .iview-controlNav div.iview-items ul li a.iview-control:hover,
.leo-megamenu .dropdown-menu li a:hover:before,
.plist-center .thumbnail-container .pro-btn .btn-product:hover {
  background: #607d8b; }

.box-logo4 #leo_search_block_top .form-control:focus,
.block_newsletter .input-wrapper button,
body#checkout section.checkout-step .address-footer .text-muted,
body#checkout section.checkout-step .address-item.selected,
.block-promo .promo-input:focus,
.box-newletter5 .block_newsletter .input-wrapper input,
.box-footer3 .block_newsletter .input-wrapper input,
.box-listdetail .leo-widget a:hover,
.box-footerlink .block_newsletter .input-wrapper button,
.box-footerlink2 .block_newsletter .input-wrapper input:focus,
.iview-controlNav div.iview-items ul li a.iview-control,
.block_newsletter .input-wrapper button:hover,
.block-social li:hover,
.owl-theme .owl-buttons div:hover,
.iview-directionNav a:hover,
.blog-container .link-readmore:hover,
.plist-center .thumbnail-container .pro-btn .btn-product:hover {
  border-color: #607d8b; }

*::selection {
  background-color: #607d8b;
  color: #fff; }

.box-footerlink2 .block_newsletter .input-wrapper button:hover {
  background: none;
  color: #607d8b; }

.bottomnav .wrapper[style*="#383838"] {
  background: #607d8b !important; }

/*# sourceMappingURL=skin.css.map */
